@using ECommerce.Models
@model ECommerce.Models.HanMenu
@{
    ViewBag.Title = "_GetCategoryMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../Content/pdsa-sidebar.css" media="all" rel="stylesheet" type="text/css">
<nav class="navbar navbar-default navbar-static-top" 
     role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/Home/Index" class="navbar-brand">
                Home
            </a>
        </div>
        <ul class="nav navbar-nav">
            @foreach (HanMenuItem item in Model.MenuItems)
            {
                <li>
                    @if (item.SubMenus.Count > 0)
                    {
                        <a href="@item.MenuAction"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            @item.MenuTitle&nbsp;
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (HanMenuItem subitem in item.SubMenus)
                            {
                                <li>
                                    <a href="@subitem.MenuAction">@subitem.MenuTitle</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <a href="@item.MenuAction">@item.MenuTitle</a>
                    }
                </li>
            }
        </ul>
    </div>
</nav>

@*<div class="container">
    <div class="row">
        <div class="headerArea">
            Data Driven Sidebar Sample
        </div>
    </div>
    <nav class="pdsa-sn-wrapper">
        <ul>
            <li class="pdsa-sn-brand">
                <a href="/Home/Index">Menus</a>
            </li>
            @foreach (HanMenuItem item in Model.MenuItems)
            {
                <li>
                    <a href="@item.MenuAction">@item.MenuTitle</a>
                </li>
            }
        </ul>
    </nav>
</div>*@

