@model ECommerce.Models.CartViewModel
@using ECommerce.Data.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<h3>Cart Page</h3>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (!Model.Items.Any())
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="danger">
                    <th data-defaultsign="_19">Option</th>
                    <th data-defaultsign="AZ">Id</th>
                    <th data-defaultsign="AZ">Name</th>
                    <th data-defaultsign="month">Photo</th>
                    <th data-firstsort="desc">Price</th>
                    <th data-defaultsign="month">Quantity</th>
                    <th data-firstsort="desc">Sub Total</th>
                </tr>
            </thead>
             foreach (Item item in Model.Items)
             {
                 <tr>
                     <td><a href="@Url.Action("Remove", "Cart", new {id = item.Product.Id})">Remove</a></td>
                     <td>@item.Product.Id</td>
                     <td>@item.Product.Name</td>
                     <td><img src="~/Content/Images/@item.Product.Photo" width="60"/> </td>
                     <td>@item.Product.Price</td>
                     <td>@item.Quantity</td>
                     <td>@(item.Product.Price * item.Quantity)</td>
                 </tr>
             }
            <tr>
                <td align="right" colspan="6">Sum</td>
                <td>
                    @{
                        List<Item> cart = Model.Items;
                        var total = cart.Sum(item => item.Product.Price * item.Quantity);
                    }
                    @total
                </td>
            </tr>
        }
    </table>
</div>
<a href="@Url.Action("Index", "Product")">Continue Shopping</a>
